*{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}
html{
    height: 100%;
}

body{
    height: 100%;
    background-color: #f5feff;
    display: grid;
    align-items: center;
}

.fondo{
    display: grid;
    grid-template-rows: 25% 75%;
    background-image: radial-gradient(circle, #deffef, #e0ffff, #ecfeff, #f9feff, #ffffff);
    border: 1px solid black;
    border-radius: 30px;
    padding-bottom: 20px;
    margin: auto;
    height: 90%;
    width: 70%;
}

.contenedor{
    display: grid;
    align-self: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin: auto;
   
}

.contenedor h1{
    background-color: #fff;
    border-bottom: 1px solid black;
    padding-top: 15px;
    text-align: center;
    height: 45px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.datos{
    padding-top: 10px;
    height: 90px;
}

.botones{
    margin: 10px;
}


button{
    background-color: white;
    border: 1px solid #000000;
    border-radius: 8px;
    box-sizing: border-box;
    color: #222222;
    cursor: pointer;
    outline: none;
    padding: 13px 23px;
    transition: all 0.2s;  
}

button:active {
    transform: scale(.96);
}


.cont-listas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.lista{
    border: 1px solid #000000;
    background-color: #ffffff;
    padding: 20px 50px;
    margin: 0 10px;
}